
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="5"># 过程中...</th>
                            </tr>
                            <tr class="active">
                                <th></th>
                                <th>数量</th>
                                <th>购买价格</th>
                                <th>待付款</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>买入交易中</td>
                                <td>@(process["condi_buy_units"])</td>
                                <td>@(process["condi_buy_price"])</td>
                                <td>@(process["condi_buy_payable"])</td>
                                <td><a href="@(Url.Action("Investment", "Membership"))">付款</a></td>
                            </tr>
                            <tr>
                                <td>待下单提交</td>
                                <td>@(process["orders_yet_submitted_units"])</td>
                                <td>@(process["orders_yet_submitted_price"])</td>
                                <td></td>
                                <td><a href="@(Url.Action("Index", "Subscription"))">提交</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="8"># 现金余额</th>
                            </tr>
                            <tr class="active">
                                <th rowspan="2">保证金</th>
                                <th rowspan="2">金币价值</th>
                                <th colspan="4">债券交易中</th>
                                <th rowspan="2">本息到期应收</th>
                                <th rowspan="2">本息本月到期</th>
                            </tr>
                            <tr class="active">
                                <th>买入已付</th>
                                <th>线下支付中</th>
                                <th>买入应付</th>
                                <th>卖出应收</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@(cashBalanceRow["cash_bal"])</td>
                                <td>@(cashBalanceRow["coins_yet_to_redeem"])</td>
                                <td>@(cashBalanceRow["condi_pmt_paid"])</td>
                                <td>@(cashBalanceRow["condi_pmt_offline_paying"])</td>
                                <td>@(cashBalanceRow["condi_pmt_payable"])</td>
                                <td>@(cashBalanceRow["condi_receivable"])</td>
                                <td>@(cashBalanceRow["instalments_receivable"])</td>
                                <td>@(cashBalanceRow["instalments_due_mtd"])</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="8"># 利息汇总</th>
                            </tr>
                            <tr class="active">
                                <th rowspan="2">应收利息</th>
                                <th rowspan="2">本日利息</th>
                                <th colspan="3">实际利息</th>
                                <th colspan="3">持有到期利息</th>
                            </tr>
                            <tr class="active">
                                <th>本周</th>
                                <th>本月</th>
                                <th>本年</th>
                                <th>本周</th>
                                <th>本月</th>
                                <th>本年</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@(interestSummaryRow["interest_receivable"])</td>
                                <td>@(interestSummaryRow["interest_today"])</td>
                                <td>@(interestSummaryRow["interest_act_wtd"])</td>
                                <td>@(interestSummaryRow["interest_act_mtd"])</td>
                                <td>@(interestSummaryRow["interest_act_ytd"])</td>
                                <td>@(interestSummaryRow["interest_maturity_week"])</td>
                                <td>@(interestSummaryRow["interest_maturity_month"])</td>
                                <td>@(interestSummaryRow["interest_maturity_year"])</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="8"># 本息汇总</th>
                            </tr>
                            <tr class="active">
                                <th rowspan="2">本息到期应收</th>
                                <th colspan="2">实际本息</th>
                                <th colspan="3">持有到期本息</th>
                            </tr>
                            <tr class="active">
                                <th>本月到期</th>
                                <th>本年到期</th>
                                <th>本月到期</th>
                                <th>本年到期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@(principalInterestSummaryRow["instalments_receivable"])</td>
                                <td>@(principalInterestSummaryRow["instalments_due_mtd"])</td>
                                <td>@(principalInterestSummaryRow["instalments_due_ytd"])</td>
                                <td>@(principalInterestSummaryRow["instalments_maturity_month"])</td>
                                <td>@(principalInterestSummaryRow["instalments_maturity_year"])</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="8"># 债券汇总</th>
                            </tr>
                            <tr class="active">
                                <th class="text-right" style="width:200px;"></th>
                                <th class="text-center">品种</th>
                                <th class="text-center">数量</th>
                                <th class="text-center">价值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="active text-right">债券余额</td>
                                <td class="text-center">@(bondsSummary.Rows[0]["products"])</td>
                                <td class="text-center">@(bondsSummary.Rows[0]["units"])</td>
                                <td class="text-center">@(bondsSummary.Rows[0]["NBV"])</td>
                            </tr>
                            <tr>
                                <td class="active text-right">交易中/买入</td>
                                <td class="text-center">@(bondsSummary.Rows[1]["products"])</td>
                                <td class="text-center">@(bondsSummary.Rows[1]["units"])</td>
                                <td class="text-center">@(bondsSummary.Rows[1]["NBV"])</td>
                            </tr>
                            <tr>
                                <td class="active text-right">交易中/卖出</td>
                                <td class="text-center">@(bondsSummary.Rows[2]["products"])</td>
                                <td class="text-center">@(bondsSummary.Rows[2]["units"])</td>
                                <td class="text-center">@(bondsSummary.Rows[2]["NBV"])</td>
                            </tr>
                            <tr>
                                <td class="active text-right">交易委托中/买入</td>
                                <td class="text-center">@(bondsSummary.Rows[3]["products"])</td>
                                <td class="text-center">@(bondsSummary.Rows[3]["units"])</td>
                                <td class="text-center">@(bondsSummary.Rows[3]["NBV"])</td>
                            </tr>
                            <tr>
                                <td class="active text-right">交易委托中/卖出</td>
                                <td class="text-center">@(bondsSummary.Rows[4]["products"])</td>
                                <td class="text-center">@(bondsSummary.Rows[4]["units"])</td>
                                <td class="text-center">@(bondsSummary.Rows[4]["NBV"])</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th colspan="8"># 交易汇总</th>
                            </tr>
                            <tr class="active">
                                <th class="text-right" style="width:200px;"></th>
                                <th class="text-center">品种</th>
                                <th class="text-center">数量</th>
                                <th class="text-center">价值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td class="active text-right">本日购入</td>
                                <td class="text-center">@(transactionSummary.Rows[0]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[0]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[0]["NBV"])</td>
                            </tr>
                            <tr class="success">
                                <td class="active text-right">本周购入</td>
                                <td class="text-center">@(transactionSummary.Rows[1]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[1]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[1]["NBV"])</td>
                            </tr>
                            <tr class="success">
                                <td class="active text-right">本月购入</td>
                                <td class="text-center">@(transactionSummary.Rows[2]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[2]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[2]["NBV"])</td>
                            </tr>
                            <tr class="success">
                                <td class="active text-right">本年购入</td>
                                <td class="text-center">@(transactionSummary.Rows[3]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[3]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[3]["NBV"])</td>
                            </tr>
                            <tr class="warning">
                                <td class="active text-right">本日出售</td>
                                <td class="text-center">@(transactionSummary.Rows[4]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[4]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[4]["NBV"])</td>
                            </tr>
                            <tr class="warning">
                                <td class="active text-right">本周出售</td>
                                <td class="text-center">@(transactionSummary.Rows[5]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[5]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[5]["NBV"])</td>
                            </tr>
                            <tr class="warning">
                                <td class="active text-right">本月出售</td>
                                <td class="text-center">@(transactionSummary.Rows[6]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[6]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[6]["NBV"])</td>
                            </tr>
                            <tr class="warning">
                                <td class="active text-right">本年出售</td>
                                <td class="text-center">@(transactionSummary.Rows[7]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[7]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[7]["NBV"])</td>
                            </tr>
                            <tr class="danger">
                                <td class="active text-right">本日退回</td>
                                <td class="text-center">@(transactionSummary.Rows[8]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[8]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[8]["NBV"])</td>
                            </tr>
                            <tr class="danger">
                                <td class="active text-right">本周退回</td>
                                <td class="text-center">@(transactionSummary.Rows[9]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[9]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[9]["NBV"])</td>
                            </tr>
                            <tr class="danger">
                                <td class="active text-right">本月退回</td>
                                <td class="text-center">@(transactionSummary.Rows[10]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[10]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[10]["NBV"])</td>
                            </tr>
                            <tr class="danger">
                                <td class="active text-right">本年退回</td>
                                <td class="text-center">@(transactionSummary.Rows[11]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[11]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[11]["NBV"])</td>
                            </tr>
                            <tr class="info">
                                <td class="active text-right">本日交割</td>
                                <td class="text-center">@(transactionSummary.Rows[12]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[12]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[12]["NBV"])</td>
                            </tr>
                            <tr class="info">
                                <td class="active text-right">本周交割</td>
                                <td class="text-center">@(transactionSummary.Rows[13]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[13]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[13]["NBV"])</td>
                            </tr>
                            <tr class="info">
                                <td class="active text-right">本月交割</td>
                                <td class="text-center">@(transactionSummary.Rows[14]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[14]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[14]["NBV"])</td>
                            </tr>
                            <tr class="info">
                                <td class="active text-right">本年交割</td>
                                <td class="text-center">@(transactionSummary.Rows[15]["products"])</td>
                                <td class="text-center">@(transactionSummary.Rows[15]["units"])</td>
                                <td class="text-center">@(transactionSummary.Rows[15]["NBV"])</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="repaymentModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>